# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ggarf\Desktop\JetBrains\Idea\webscraper\plugins\.idea/dataSources/
/dataSources.local.xml
